{% macro common_body() %}
	DocumentRoot {{reverseproxy_document_root}}

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

        {% if item.proxy_sendchunked is defined and item.proxy_sendchunked==true %}
          SetEnv proxy-sendchunked
        {% endif %}

        {% if item.keep_alive is defined and not item.keep_alive %}
          KeepAlive off
        {% endif %}
{% endmacro %}


{% macro locations() %}
{% if item.locations is defined %}
	{% for l in item.locations %}
        	<Location {{ l.location }}>
			{% if l.require_ip is defined %}
  				Require ip {{l.require_ip}}
			{% endif %}

                        <IfModule security2_module.c>
                	{% if l.mod_security_removed_rules is defined %}
                                	SecRuleRemoveById {{ l.mod_security_removed_rules }}
                        {% endif %}
                        {{ disable_modsecurity(l) }}
			</IfModule>
                 </Location>
        {% endfor %}
{% endif %}
{% endmacro %}

{% macro proxy_directive(ssl) -%}
        {% if item.proxies is defined %}
            {% for p in item.proxies %}
                <Proxy "{{p.name}}">
                    {% for s in p.sets %}
                        ProxySet {{s}}
                    {% endfor %}
                    {% for m in p.members %}
                        BalancerMember {{m}}
                    {% endfor %}
                </Proxy>
            {% endfor %}
        {% endif %}

	{% if item.proxy_directives is defined %}
        	{% for p in item.proxy_directives %}
			{% if (ssl and (p.ssl is not defined or p.ssl==true)) or (ssl==false and (p.nonssl is not defined or p.nonssl==true)) %}
                		ProxyPass {{p.location}} {{ p.backend_url }}
                        	{% if p.reverse is defined %}
                        		ProxyPassReverse {{p.location}} {{ p.reverse }}
                        	{% endif %}
			{% endif %}
                {% endfor %}
         {% endif %}
{%- endmacro %}

{% macro disable_modsecurity(i) %}
{% if i.disable_modsecurity is defined and i.disable_modsecurity %}
<IfModule security2_module.c>
	SecRuleEngine Off
</IfModule>
{% endif %}
{% if i.disable_modsecurity_bodyaccess is defined and i.disable_modsecurity_bodyaccess %}
<IfModule security2_module.c>
	SecRequestBodyAccess Off
</IfModule>
{% endif %}
{% endmacro %}

{% macro rows() %}
{% if item.rows is defined %}
  {% for r in item.rows %}
    {{ r }}
  {% endfor %}
{% endif %}
{% endmacro %}

{% macro ssl_proxy_checks() %}
<IfModule mod_ssl.c>
SSLProxyEngine on
{% if item.ssl_proxy_checks is defined and item.ssl_proxy_checks == false %}
  SSLProxyVerify none
  SSLProxyCheckPeerCN off
  SSLProxyCheckPeerName off
{% endif %}
</IfModule>
{% endmacro %}



{% macro allow_slashes() %}
{% if item.allow_slashes is defined %}
AllowEncodedSlashes {{item.allow_slashes}}
{% endif %}
{% endmacro %}

{% if item.ssl is defined and item.ssl == true %}
<IfModule mod_ssl.c>
	<VirtualHost *:443>
		ServerAdmin {{ apache2_server_admin }}
		ServerName {{ item.server_name }}
		{% if item.server_alias is defined %}
			ServerAlias {{ item.server_alias }}
		{% endif %}

		{{ common_body() }}
		
		SSLEngine on
		
		{{ ssl_proxy_checks() }}		

		{% if item.ssl_certificate is defined %}
			SSLCertificateFile {{ reverseproxy_certificates[item.ssl_certificate]['cert_file'] }}
			SSLCertificateKeyFile {{ reverseproxy_certificates[item.ssl_certificate]['key_file'] }}
			{% if reverseproxy_certificates[item.ssl_certificate]['chain_file'] is defined %}
				SSLCertificateChainFile {{ reverseproxy_certificates[item.ssl_certificate]['chain_file'] }}
			{% endif %}
		{% elif item.letsencrypt is defined and item.letsencrypt == true and reverseproxy_certbot == false %}
			SSLCertificateFile /etc/ssl/letsencrypt/certs/cert.pem
			SSLCertificateKeyFile /etc/ssl/letsencrypt/private/key.pem
    			SSLCertificateChainFile /etc/ssl/letsencrypt/certs/chain.pem
		{% elif item.letsencrypt is defined and item.letsencrypt == true and reverseproxy_certbot == true %}
		    SSLCertificateFile /etc/letsencrypt/live/{{ item.server_name }}/cert.pem
			SSLCertificateKeyFile /etc/letsencrypt/live/{{ item.server_name }}/privkey.pem
    		SSLCertificateChainFile /etc/letsencrypt/live/{{ item.server_name }}/chain.pem
		{% else %}
			SSLCertificateFile {{ reverseproxy_global_ssl_certificate }}
       	        	SSLCertificateKeyFile {{ reverseproxy_global_ssl_key }}
			SSLCertificateChainFile {{ reverseproxy_global_ssl_chain_file }}
		{% endif %}

		{{ allow_slashes() }}

		<FilesMatch "\.(cgi|shtml|phtml|php)$">
				SSLOptions +StdEnvVars
		</FilesMatch>
		<Directory /usr/lib/cgi-bin>
				SSLOptions +StdEnvVars
		</Directory>

		BrowserMatch "MSIE [2-6]" \
				nokeepalive ssl-unclean-shutdown \
				downgrade-1.0 force-response-1.0
		# MSIE 7 and newer should be able to use keepalive
		BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown

		ProxyPreserveHost On
	
		{% if item.redirects is defined %}	
			{% for r in item.redirects %}
				{% if r.ssl is not defined or r.ssl == true %}
                        		Redirect {{ r.status }} {{ r.from }} {{ r.to }}
				{% endif %}
                	{% endfor %}
		{% endif %}

		RequestHeader set X-Forwarded-Proto "https" early
		RequestHeader set X-Forwarded-Port "443" early
		RequestHeader set HTTP_X_FORWARDED_PROTO "https" early

		{{ proxy_directive(true) }}

		{{ disable_modsecurity(item) }}

		{{ rows() }}

		<IfModule security2_module.c>
			{% if item.mod_security_removed_rules is defined %}
				SecRuleRemoveById {{ item.mod_security_removed_rules }}
			{% endif %}
		</IfModule>

		{{ locations() }}
	</VirtualHost>
</IfModule>
{% endif %}
<VirtualHost *:80>
	ServerAdmin {{ apache2_server_admin }}
	
	ServerName {{ item.server_name }}
	{% if item.server_alias is defined %}
        	ServerAlias {{ item.server_alias }}
        {% endif %}

	{{ ssl_proxy_checks() }}

	{{ allow_slashes() }}

	{{ common_body() }}

        <Directory />
		Options FollowSymLinks
		AllowOverride None
	</Directory>
	<Directory /var/www/>
		Options Indexes FollowSymLinks MultiViews
		AllowOverride None
		Order allow,deny
		allow from all
	</Directory>

	ScriptAlias /cgi-bin/ /usr/lib/cgi-bin/
	<Directory "/usr/lib/cgi-bin">
		AllowOverride None
		Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch
		Order allow,deny
		Allow from all
	</Directory>

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	{% if item.redirect_to_https is defined and item.redirect_to_https %}
		Redirect "/" "https://{{ item.server_name }}/"
	{% else %}
		{% if item.redirects is defined %}
			{% for r in item.redirects %}
				Redirect {{ r.status }} {{ r.from }} {{ r.to }}
			{% endfor %}
		{% endif %}
		<IfModule security2_module.c>
			{% if item.mod_security_removed_rules is defined %}                        
				SecRuleRemoveById {{ item.mod_security_removed_rules }}
			{% endif %}
        	</IfModule>

		ProxyPreserveHost On

		{{ proxy_directive(false) }}
		
		{{ disable_modsecurity(item) }}

		{{ rows() }}

		{{ locations() }}
        {% endif %}
</VirtualHost>

