dns_ovh_endpoint = ovh-eu
dns_ovh_application_key = {{ reverseproxy_certbot_ovh_application_key }}
dns_ovh_application_secret = {{ reverseproxy_certbot_ovh_application_secret }}
dns_ovh_consumer_key = {{ reverseproxy_certbot_ovh_consumer_key }}
