<IfModule mod_proxy.c>
        ProxyPass /.well-known/acme-challenge !
</IfModule>
Alias /.well-known/acme-challenge {{ acme_tiny_challenges_directory }}/.well-known/acme-challenge

<Directory "{{ acme_tiny_challenges_directory }}">
    Options None
    AllowOverride None
    {% if reverseproxy_authorization_model=="old" %}
        Order allow,deny
        Allow from all
    {% else %}
    	Require all granted
    {% endif %}
    AddDefaultCharset off
</Directory>

